body {
font-family: 'Montserrat';
}

h1 {
  font-family: 'Montserrat-Black', sans-serif;
  font-weight: 900;
  line-height: 1.5;
  font-size: 3.5rem;
  color: white;
}
h2 {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 2rem;
  line-height: 2;
}
h3 {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 1.5rem;
}
.navbar-nav {
  margin-left: auto;
}
.container-fluid {
  padding: 3% 15% 7%;
}
#title {
  background-color: #ff4c68;
  color: white;
}

/* Navigation Bar */

.navbar {
  padding-bottom: 4.5rem;
}
.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item {
  padding: 0 1.125rem;
}
.nav-link {
  font-size: 1.2rem;
}

/* Download Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Phone Image */

.phone-img {
  width: 20%;
  transform: rotate(25deg);
  position: absolute;
  margin-left: 80px;
}

/* Features */

#features {
  padding: 7% 15%;
  text-align: center;
  background-color: white;
  position: relative;
  z-index: 1;
}

.fas {
margin-bottom: 1.25rem;
  color: #efB172;
}
.fas:hover {
  color: #ff4c68;
}

/* Testimonial Secion */

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: white;
}

.testimonial-image {
  width: 15%;
  border-radius: 50%;
  margin: 1.25rem;
}

.carousel-item {
  padding: 7% 15%;

}
/* Press Section */

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;;
}
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
  padding: 100px;
  text-align: center;
}
.pricing-column {
  padding: 3% 2%;
}

/* Footer Section */

#footer-1 {
  background-color: #ff4c68;
  font-family: 'Montserrat-Black', sans-serif;
  text-align: center;
  padding: 5%;
  color: white;
}

#footer-2 {
  background-color: white;
  text-align: center;
  padding: 5%;
}

@media (max-width: 991px) {
  .phone-img {
    width: 50%;
    position: static;
    transform: rotate(0)
  }
#title {
  text-align: center;
}
}
